<div class="content">
    <mat-form-field style="width: 300px;" appearance="standard">
        <mat-label>Search</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="search" (keyup)="applyFilter($event)" placeholder="Search here" class="search-input"
            #input>
    </mat-form-field>
    <button style="height: 75%; margin-top: 10px; margin-left: 15px"
        (click)="getServer(1, pageSize, ''); input.value = ''" mat-raised-button color="primary">
        <mat-icon>refresh</mat-icon>
    </button>
    <div style="margin-left: auto; margin-top: 10px;">
        <button style="margin-right: 10px" mat-raised-button color="primary" (click)="openModifyDialog(null, 'add')">
            Add Server
            <mat-icon style="margin-left: 5px; margin-bottom: 5px;">add_box</mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="export()">
            Export Excel
        </button>
    </div>
</div>
<div class="data">
    <div class="mat-elevation-z8" style="overflow: auto; max-height: 76vh;">
        <!-- <div class="loading-shade" *ngIf="isLoading">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
        </div> -->
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Server Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Server name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <!-- IP Column -->
            <ng-container matColumnDef="ip">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> IP </th>
                <td mat-cell *matCellDef="let row"> {{row.ip}} </td>
            </ng-container>

            <!-- Port Column -->
            <ng-container matColumnDef="port">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Port </th>
                <td mat-cell *matCellDef="let row"> {{row.port}} </td>
            </ng-container>

            <!-- Username Column -->
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
                <td mat-cell *matCellDef="let row"> {{row.username}} </td>
            </ng-container>

            <!-- Password Column -->
            <ng-container matColumnDef="password">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Password </th>
                <td mat-cell *matCellDef="let row"> {{row.password}} </td>
            </ng-container>

            <!-- Validate Column -->
            <ng-container matColumnDef="validate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Password Validated </th>
                <td mat-cell *matCellDef="let row"> {{row.validate}} </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let row"> {{row.status}} </td>
            </ng-container>

            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Options </th>
                <td mat-cell *matCellDef="let row">
                    <div style="display: flex;">
                        <button (click)="detail(row.id)" matTooltip="Server detail" aria-label="Server detail" class="option-btn" style="color: blue;">
                            <mat-icon>info</mat-icon>
                        </button>
                        <button (click)="edit(row.id)" matTooltip="Edit server information" class="option-btn" style="color: green;">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button (click)="delete(row.id)" matTooltip="Delete server" class="option-btn" style="color: red">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="More options" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon>link</mat-icon>
                                <span>Connect</span>
                            </button>
                            <button mat-menu-item (click)="check(row.id)">
                                <mat-icon>check</mat-icon>
                                <span>Check</span>
                            </button>
                            <button mat-menu-item (click)="validate(row.id)">
                                <mat-icon>done_all</mat-icon>
                                <span>Validate password</span>
                            </button>
                            <button mat-menu-item (click)="log(row.id, '', '', '', '')">
                                <mat-icon>assessment</mat-icon>
                                <span>Log</span>
                            </button>
                        </mat-menu>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row class="mat-row-custom" *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of servers"
            [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="total"
            (page)="pageEvent = handlePage($event, input.value)"></mat-paginator>
    </div>
</div>