<h2 mat-dialog-title>Permission denied</h2>
<mat-dialog-content class="mat-typography">
    <div class="dialog-container">
        <p>
            <mat-icon style="color: #ffbb33;">warning</mat-icon>
            <span [ngSwitch]="data.mode">
                <span *ngSwitchCase="'edit'">You don't have permission to <strong>Edit</strong> this server! <br> Please login with an account with the right permissions.</span>
                <span *ngSwitchCase="'delete'">You don't have permission to <strong>Delete</strong> this server! <br> Please login with an account with the right permissions.</span>
                <span *ngSwitchCase="'view'"> You don't have permission to <strong>View </strong> the password of this server! <br> Please login with an account with the right permissions.</span>
                <span *ngSwitchDefault>You don't have permission to do this action! <br> Please login with an account with the right permissions.</span>
            </span>
        </p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>