<h2 *ngIf="mode == 'add'" mat-dialog-title>Add new server</h2>
<h2 *ngIf="mode == 'edit'" mat-dialog-title>Edit server</h2>
<h2 *ngIf="mode == 'delete'" mat-dialog-title>Delete server</h2>
<mat-dialog-content class="mat-typography">
    <div class="dialog-container" *ngIf="mode != 'delete'">
        <form [formGroup]="form">
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>IP address</mat-label>
                    <input matInput #input formControlName="ip" maxlength="10" placeholder="Ex. 192.168.56.10">
                    <mat-error *ngIf="f.ip.hasError('required')">
                        IP address is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field style="margin-left: 15px;" appearance="fill">
                    <mat-label>Port number</mat-label>
                    <input matInput #input formControlName="port" maxlength="10" placeholder="Ex. 22">
                    <mat-error *ngIf="f.port.hasError('required')">
                        Port number is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput #input formControlName="username" maxlength="10" placeholder="Ex. root">
                    <mat-error *ngIf="f.username.hasError('required')">
                        Username is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field style="margin-left: 15px;" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput #input formControlName="password" maxlength="10" placeholder="Ex. 123abc">
                    <mat-error *ngIf="f.password.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Description</mat-label>
                    <textarea matInput #input formControlName="description"></textarea>
                </mat-form-field>
            </p>
        </form>
    </div>
    <div class="dialog-container" *ngIf="mode == 'delete'">
        <p>Are you sure you want to delete this server {{currentServer.ip}}?</p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button *ngIf="mode == 'add'" mat-button type="submit" [mat-dialog-close]="true" cdkFocusInitial (click)="addServer()">Add</button>
    <button *ngIf="mode == 'edit'" mat-button type="submit" [mat-dialog-close]="true" cdkFocusInitial (click)="updateServer()">Update</button>
    <button *ngIf="mode == 'delete'" mat-button type="submit" [mat-dialog-close]="true" cdkFocusInitial (click)="deleteServer()">Delete</button>
</mat-dialog-actions>