<div class="container">
    <form [formGroup]="form">
        <mat-form-field class="" appearance="fill" style="width: 100%;">
            <mat-label>Username</mat-label>
            <input type="text" matInput formControlName="username" placeholder="Username">
            <mat-error *ngIf="f.username.hasError('required')">
                Username is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="isRegister" appearance="fill" style="margin-top: 15px; width: 100%;">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Email">
            <mat-error *ngIf="f.email.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="f.email.hasError('email')">
                <strong>Invalid</strong> email address
            </mat-error>
        </mat-form-field>
        <mat-form-field class="" appearance="fill" style="margin-top: 15px; width: 100%;">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" placeholder="Password">
            <mat-error *ngIf="f.password.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="isRegister" appearance="fill" style="margin-top: 15px; width: 100%;">
            <mat-label>Confirm password</mat-label>
            <input type="password" matInput formControlName="confirmPassword" placeholder="Confirm password">
            <mat-error *ngIf="f.confirmPassword.hasError('required')">
                Confirm password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="f.confirmPassword.hasError('confirmValidator')">
                Password and Confirm password must be <strong>match</strong>
            </mat-error>
        </mat-form-field>
        <button *ngIf="!isRegister" type="submit" mat-raised-button color="primary" class="login-btn" style="margin-top: 20px; margin-bottom: 20px;" (click)="login(form.controls.username.value, form.controls.password.value)">Login</button>
        <button *ngIf="isRegister" mat-raised-button type="submit" color="primary" class="login-btn" style="margin-top: 20px; margin-bottom: 20px;" (click)="register(form.controls.username.value, form.controls.password.value, form.controls.email.value)">Register</button>
        <a href="/reset" style="text-decoration: none; color: #1878f3;">Forget password?</a>
        <hr style="margin-top: 20px; color: #c2c2c2;">
        <button *ngIf="!isRegister; else something" mat-raised-button class="register-btn" style="margin-top: 20px;" (click)="change()">Register</button>
        <ng-template #something><button mat-raised-button class="register-btn" style="margin-top: 20px" (click)="change()">Login</button></ng-template>
    </form>
</div>