.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.dialog-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

::ng-deep snack-bar-container.success {
background: white;
}

::ng-deep snack-bar-container.fail {
background: white;
}

::ng-deep .success .mat-simple-snackbar {
color: green;
}

::ng-deep .fail .mat-simple-snackbar {
color: red;
}